:root{
    --galleryMargin:1rem;
    --bgBody:#f2f3f4;
    --gridColumnCount: 5;
    --card-radius: .25rem;
    --card-padding: 1rem;
    --heading-text-color: #32325d;
    --card-bg:#fff;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    background:var(--bgBody,#f2f3f4);
    font-family: 'Helvetica', Arial, sans-serif;
}
.dark--theme{
    --bgBody:#32325d;
    --card-bg: #3f3f78;
    --heading-text-color: #fff;
}
@media screen and (max-width: 1199.98px){
    .gallery {
        --gridColumnCount: 4;
    }
}
@media screen and (max-width: 991.98px){
    .gallery {
        --gridColumnCount: 3;
    }
}
@media screen and (max-width: 767.98px){
    .gallery {
        --gridColumnCount: 2;
    }
}
@media screen and (max-width: 575.98px){
    .gallery {
        --gridColumnCount: 1;
    }
}
.gallery{
    margin:var(--galleryMargin, 1rem);
    display: grid;
    grid:auto/repeat(var(--gridColumnCount),1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}
.gallery__item{
    background: var(--card-bg,#fff);
    border-radius: var(--card-radius, .25rem);
    padding: var(--card-padding, 1rem);
}
.gallery__item-img{
    display: block;
    width: 100%;
}
.gallery__item-desc{
   color: var(--heading-text-color, #32325d);
    margin-top: 1rem;
}
